@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a1a1a;
  --background: #ffffff;
  --color-text: #000000;
  --color-text-white: #ffffff;
  --color-primary: #c8b3d9;
  --color-accent: #FF9900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
